<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        {{header}}
        <button (click)="sort(header, 'DESC')" class="btn btn-link">↓</button>
        <button (click)="sort(header, 'ASC')" class="btn btn-link">↑</button>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let header of headers">
        {{row[header]}}
      </td>
    </tr>

    <tr class="table-info">
      <td *ngFor="let header of headers">
        {{totals[header]}}
      </td>
    </tr>

  </tbody>
</table>
