<div class="container">
  <div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">Optionen</h5>

    <div class="row">
      <div class="col-6">
        <input matInput [matDatepicker]="picker" [formControl]="start_date">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <br>
        <mat-hint>DD/MM/YYYY</mat-hint>
      </div>
      <div class="col-6">
        <input matInput [matDatepicker]="picker" [formControl]="end_date">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <br>
        <mat-hint>DD/MM/YYYY</mat-hint>
      </div>
    </div>

  </div>
</div>
</div>
